[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "third_party/hermes"]
	path = third_party/hermes
	url = git@github.com:facebook/hermes.git
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = git@github.com:bellard/quickjs.git
[submodule "third_party/uthash"]
	path = third_party/uthash
        url = git@github.com:troydhanson/uthash.git
[submodule "third_party/react-native"]
	path = third_party/react-native
	url = git@github.com:facebook/react-native.git
[submodule "third_party/folly"]
	path = third_party/folly
	url = git@github.com:facebook/folly.git
[submodule "third_party/double-conversion"]
	path = third_party/double-conversion
	url = git@github.com:google/double-conversion.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = git@github.com:google/glog.git
